<html>
        <head>
                <title>免费百度网盘电影资源站</title>
                <meta name="viewport" content="width=device-width, initial-scale=1" />
        <head>

                        <body align="center">

                                <p align="center" style="color:red"><b>目前已有的功能有：</b></p>
                                <p><a href="/movie/">影视资源网盘分享</a></p>
                                
                                <p><a href="#">正在开发中...</a></p>


                                <!-- 网站访问量统计代码 -->
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274275806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274275806%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                                <!-- 网站访问量统计代码 END -->
                        </body>
</html>
