<div class="visible-xs visible-sm visible-md visible-lg col-sm-13 col-md-13 col-lg-13">

	<h4><span class="label label-success">实用功能</span></h4>
	<div>
		<!-- k2every.com -->
		<div class="list-group">
			<!--<img class="full_img" src="https://www.chenjin5.com/media/group_chat_qrcode.jpg" alt="k2every" border="0" width="100%" />-->

			<a class="list-group-item active" href="http://k2every.com/index_ad.html" target="_blank">1. Kindle 生词本单词导出</a>
			<!--<a class="list-group-item active" href="http://k2every.com/index_ad.html" target="_blank">2. 英文原版书 词汇提取</a>-->

		</div>

	</div>
</div>
