<html>

<head>
	<title>卢大漂亮和李小胖</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<!-- Bootstrap -->
	<!-- <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"> -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<div class="row">

			<!-- 2/3 窗口 -->
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

				<div class="jumbotron">

					<div align="center">

						{% if has_data == 0 %}
						<h2>《{{ name }}》</h2>
						<br />
						<br />

						<img src="{{ pic }}"  width="50%">

						<br />
						<br />
						<h3 class="text-left">剧情简介：</h3>
						<br />
						<span class="text-left">{{ content }}</span>

						<br />
						<br />
						<h3 class="text-left">磁力链接：</h3>
						<br />

						{% for magnet in magnet_list %}
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="{{ magnet.url }}" target="_blank">{{ magnet.title }}</a></h4>
							</div>

							<div class="panel-body">
								{{ magnet.url }}
							</div>

							<div class="panel-footer">{{ magnet.size }} - {{ magnet.definition }}</div>
						</div>
						{% endfor %}
						{% else %}
						<p class="lable label-danger" style="color: white">{{ msg }}</p>
						{% endif %}

					</div>
					<!-- align="center"  End -->

				</div> <!-- jumbotron -->

			</div> <!-- 2/3 窗口 -->


			<!-- 1/3 窗口 -->
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">

			</div>


		</div> <!-- row -->
	</div> <!-- container -->

</body>

</html


