<html>
 <head>
     <title>《{{ movie.v_name }}》高清资源在线播放</title>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     {% load staticfiles %}
     <!-- Bootstrap -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
     <style type="text/css">
         p{
             text-indent: 1em;
         }
         .magnet_url{
             font-size: 15px;
         }

         .pubdate_views{
             font-size: 14px;
             color:grey;
             padding-bottom: 6px;
         }
         .jumbotron{
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
         }
     </style>
    <script>
        <!-- 播放不同集视频 -->
        function changevideo(url, playindex)
        {
            document.getElementById('playvideo').src=url;
            document.getElementById('playindex').innerHTML=" 正在播放：第"+playindex+"集  <br />";
        }
    </script>
</head>

<body>
    <div align="center">
        <!-- 导航栏 -->
        {% include 'index/navbar.html' %}
    </div>
    <!-- align="center" End -->

    <!-- 公众号推广图文 -->
    <!--
    <a href="https://mp.weixin.qq.com/s/KaZfTNhmu8AM63QDfVjU2g" ><img src="https://upload-images.jianshu.io/upload_images/5649568-f878eff64c05fb95.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"  width=100% /> </a> <br />
    -->
    <!-- 公众号推广图文 End -->

    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8">
                <!-- 判断当前影片是否为 VIP 专享 -->
                {% if movie.v_vip == 1 %}

                    <!-- 判断当前访问用户是否为 vip 用户 -->
                    {% if is_vip == 1 %}
                        <!-- 电影信息区域 -->
                        {% include 'onlineplay/movie_info_jumbotron.html' %}

                    {% else %}
                        <br />
                        <br />
                        <br />
                        <div class="alert alert-warning">
                            抱歉，该影片为 VIP 用户专享
                            <br /><br />
                            已经有帐号的话可以 <button class="btn btn-warning"><a href="{% url 'login' %}">登录</a></button> 或 <button class="btn btn-info"><a href="{% url 'user_center' %}">充值</a></button>
                            <br /><br />
                            还没有帐号的请 <button class="btn btn-info"><a href="{% url 'register' %}">注册</a></button>
                            <br /><br />
                        </div>
                    {% endif %} <!-- 判断是否为 VIP 用户 -->

                {% else %}
                    {% include 'onlineplay/movie_info_jumbotron.html' %}
                {% endif %}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
                <!-- 判断是否需要展示 热搜榜 -->
                {% if resou_movie_list %}
                <!-- 热搜榜 -->
                    {% include 'movie/resou_movie_bar.html' %}
                {% endif %}

                <!-- 微信公众号吸粉广告 -->
                {% include 'index/wechat_ad.html' %}
            </div>

        </div>
    </div>

    {% include 'index/alipay.html' %}

    <div align="center">
        {% include 'index/footer.html' %}
    </div>

</body>

</html>
