<!-- 巨幕区域 -->
<div class="jumbotron">
    <h3>{{ movie.v_name }}</h3>
    <div class="pubdate_views">{{ movie.v_pub_date }}  {{ movie.v_views }} Views</div>

    <!-- 影片海报
    <p><img src="{{ movie.v_pic }}" data-ke-src="{{ movie.v_pic }}" alt=""  title="" align="" width=50%  /><br /></p>
    -->

    <!-- 播放器 -->
    <iframe src="{{ index_video }}" id="playvideo" width="100%" height="230" allowtransparency="true" frameborder="0" allowfullscreen="true" scrolling="no" style="background: black;"></iframe>
    <label class="visible-sm visible-md visible-lg btn label-warning"><strong>温馨提示：</strong>PC用户如无法播放请使用网盘链接,或扫描右侧二维码使用手机在线观看</label>
    <label class="visible-xs btn label-warning"><strong>温馨提示：</strong>首次加载较慢，请耐心等待<br />微信公众号搜索：[一起来电影] 免费看电影</label>
    <div align="center">
        <span id="playindex" class="label label-info"></span>
    </div>
    <br />
    <h4>播放来源：</h4>
    <div style="padding:4px;">
    {% for sources in playurls %}
        {% for url in sources %}
            {% if forloop.first %}
                <span class="btn">{{ url }}</span><br />
            {% else %}
                <button class="btn btn-success" onclick="changevideo('{{ url }}', '{{ forloop.counter|add:-1 }}')" role="group" aria-label="">
                    第{{ forloop.counter|add:-1 }}集
                </button>
            {% endif %}
        {% endfor %}
        <br />
    {% endfor %}
    </div>

    <div align="center">
        <p style="padding:2px;background-color:#8181F7;color:white;font-size:16px;"><strong>请从上方播放来源中选择要播放的视频,选集后才可播放<br />如无法播放或卡顿请尝试切换不同片源。</strong></p>
    </div>
    <br />

    <div class="ad_div">
        <script type="text/javascript">var ufid=50355;var ufwidth=468;var ufheight=60;var ufdomain="http://js.jianbaimei.com";document.write("<scr"+"ipt type='text/javascript' src='"+ufdomain+"/Include/data_hf'></scri"+"pt>");</script>
    </div>

    <!-- 剧情介绍 -->
    {% if movie.v_text_info %}
        <h4>剧情介绍：</h4>
        <p><span style="font-size:14px;">{{ movie.v_text_info }}</span></p>
    {% endif %}
    <!-- 剧情信息 END -->


</div>
<!-- 巨幕区域 End -->
