<div align="center">


  <!-- 开始输出宿舍信息 -->
  <!-- 宿舍基本信息 -->
  <h3 class="bg-success" style="color:#fff">基本信息：</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">宿舍号</th>
        <th scope="col">类别（男/女）</th>
        <th scope="col">内务评分</th>
        <th scope="col">简介</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ dormitory.number }}</td>
        <td>{{ dormitory.gender }}</td>
        <td>{{ dormitory.star }} 星</td>
        <td>{{ dormitory.info }}</td>
      </tr>
    </tbody>
  </table>

  <!-- 宿舍成员表格 -->
  <h3 class="bg-info" style="color:#fff">床位信息：</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">床号</th>
        <th scope="col">姓名</th>
        <th scope="col">学号</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ dormitory.stu_1.name }}</td>
        <td>{{ dormitory.stu_1.number }}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{ dormitory.stu_2.name }}</td>
        <td>{{ dormitory.stu_2.number }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{ dormitory.stu_3.name }}</td>
        <td>{{ dormitory.stu_3.number }}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{ dormitory.stu_4.name }}</td>
        <td>{{ dormitory.stu_4.number }}</td>
      </tr>

    </tbody>
  </table>




  <br /> <br />

</div>
