<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meata name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>学生宿舍管理系统——宿舍分配</title>

    <style type="text/css">
    .nav {
        padding: 50px;
        }
    </style>

  </head>

  <body>
  <div align="center">

  <br />
  <h1>
    欢迎使用学生宿舍管理系统
  </h1>
 
  <!-- 导航条 -->
  <nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" href="{% url 'manager_index' %}">首页</a>
  <a class="nav-item nav-link" href="../../../admin">宿舍分配</a>
  <a class="nav-item nav-link" href="../../../admin">内务管理</a>
</nav>

<!-- 栅格布局 -->
<div class="container">
<div class="row">
<!-- 宿舍详情展示 -->
<div class="col-md-8">
  {% include 'dormitoryAssign.html' %}
</div>

<!-- 光荣榜展示 -->
<div class="col-md-4">
  {% include 'starDormitory.html' %}
</div>

</div> <!-- row -->
</div> <!-- container -->



  </div>
</body>

{% include 'footer.html' %}

</html>
