<div align="center">


  <!-- 开始输出学生信息 -->
  <!-- 学生基本信息 -->
  <h3 class="bg-success" style="color:#fff">基本信息：</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">姓名</th>
        <th scope="col">学号</th>
        <th scope="col">性别</th>
        <th scope="col">班级</th>
        <th scope="col">宿舍</th>
        <th scope="col">床位</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.number }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.classNum }}</td>
	<td>{{ student.dromitory }}</td>
	<td>{{ student.bed }}</td>
      </tr>
    </tbody>
  </table>

</div>
