<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>爬虫: {{ info.own.name }}</h3>
            <br />
            <p><strong>链接：</strong><a href="{{info.url}}" target="_blank">{{info.url}}</a></p>
            <p>
                <strong>时间：</strong>{{info.time}}
            </p>
            </p>
                <strong>
                状态：
                </strong>
                {% ifequal info.stat 0 %}成功{% endifequal %}
                {% ifequal info.stat 1 %}警告{% endifequal %}
                {% ifequal info.stat 2 %}错误{% endifequal %}
                ({{info.stat}})
            </p>
            <p>
                <strong>
                    细节：
                </strong>
            </p>
            <div id="content">
                <pre>
                    {{info.info}}
                </pre>
            </div>
        </div>
    </div>
</div>
