<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" id="name">Spider Monitor-爬虫监视框架</a>
            <button id="status" type="button" class="btn btn-default navbar-btn">未运行</button>
        </div>
        <div class="navbar-right">

            <!-- menupage -->
            <span>MenuPage:</span>
            <button id="menupage_totalbutton" type="button" class="btn btn-primary navbar-btn">
                <span id="menupage_total" class="badge pull-right">0</span>总量&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-success">
                <span id="menupage_success" class="badge pull-right">0</span>成功&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-danger">
                <span id="menupage_fail" class="badge pull-right">0</span>失败&nbsp;&nbsp;
            </button>
            &nbsp&nbsp&nbsp
            <!-- movie -->
            <span>Movie:</span>
            <button id="movie_totalbutton" type="button" class="btn btn-primary navbar-btn">
                <span id="movie_total" class="badge pull-right">0</span>总量&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-success">
                <span id="movie_success" class="badge pull-right">0</span>成功&nbsp;&nbsp;
            </button>
            <button type="button" class="btn btn-danger">
                <span id="movie_fail" class="badge pull-right">0</span>失败&nbsp;&nbsp;
            </button>
        </div>
    </div>
</nav>
