
<!-- 载入静态文件 -->
{% load static %}

<div class="container">
	<div class="row">

		<!-- 左半部分 -->
		<div class="col-sm-9">

			<div class="jumbotron">
				<h4 class="display-5">Kindle 生词本导出</h4>

				<p><a href="{% static 'files/test.xls' %}" target="_blank">查看导出文件样例</a></p>

				<p>1. 点击“选择文件”上传 txt 文件</p>

				<p>2. 填写邮箱地址，词汇成功导出后将发送至该邮箱，预计 5 分钟以内</p>

				<hr />

				<br />
				{% include 'export/export_uploda_form.html' %}

			</div>

		</div>
		<!-- 左半部分 结束 -->


		<!-- 右半部分 -->
		<div class="col-sm-3">
			<!-- 广告 -->
			<div>
				{% include 'export/wechat_ad.html' %}
			</div>

			<br />
			<h4>留言：</h4>
			<p>
				以下是网友留言，
				以下是网友留言，
				以下是网友留言，
			</p>


		</div>
		<!-- 右半部分 结束 -->
		
	</div>

</div>


