<!-- 巨幕区域 -->
<div class="jumbotron">
    <h3>{{ book.book_title }}</h3>
    <div class="pubdate_views">作者：{{ book.book_author }} &nbsp&nbsp&nbsp&nbsp 分类：{{ book.book_catogory }} &nbsp&nbsp&nbsp&nbsp {{ book.book_pub_date }} &nbsp&nbsp&nbsp&nbsp {{ book.book_views }} 浏览过</div>
    <hr />
    <img src="{{ book.book_pic }}" data-ke-src="{{ book.book_pic }}" onerror=src="https://s1.ax1x.com/2020/03/27/GPWsIO.jpg" alt=""  title="" align="" width=30%  /><br /><br />

    <!-- 图书信息 infos -->
    {% if book.book_infos %}
        <h4>图书信息：</h4>
        <p><span style="font-size:14px;">{{ book.book_infos }}</span></p>
    {% endif %}
    <br />
    <!-- 图书信息 END -->

    <!-- 图书简介 description -->
    {% if book.book_description %}
        <h4>内容简介：</h4>
        <p><span style="font-size:14px;">{{ book.book_description }}</span></p>
    {% endif %}
    <br />
    <!-- 图书简介 END -->   

    <!-- 网盘 -->
    <h4>网盘链接：</h4>
    <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-primary" target="_blank" href={{ pan_url_1.url }}>{{ pan_url_1.name }}</a>
        <a class="btn btn-info" target="_blank" href={{ pan_url_2.url }}>{{ pan_url_2.name }}</a>
        <a class="btn btn-warning" target="_blank" href={{ pan_url_3.url }}>{{ pan_url_3.name }}</a>
    </div>
    <br />

    {% if book.book_pan_pass %}
    <h4>网盘提取码：</h4>
        <div class="alert alert-danger">{{ book.book_pan_pass }}</div>
    {% endif %}
    <!-- 网盘 END -->


    <br />

    <br />


</div>
<!-- 巨幕区域 End -->
