<!-- 巨幕区域 -->
<div class="jumbotron">
  <h3>{{ book.book_title }}</h3>
  <div class="pubdate_views">作者：{{ book.book_author }} &nbsp&nbsp&nbsp&nbsp 分类：{{ book.book_category }} &nbsp&nbsp&nbsp&nbsp {{ book.book_views }} 浏览过</div>
  <hr />
  <img src="{{ book.book_pic }}" data-ke-src="{{ book.book_pic }}" onerror=src="https://s1.ax1x.com/2020/03/27/GPWsIO.jpg" alt="{{ book.book_title }}kindle电子书免费下载"  title="" align="" width=30% referrerpolicy ="never" /><br /><br />

  <!-- 图书信息 infos -->
  {% if book.book_infos %}
  <h3><strong>图书信息：</strong></h3>
  <p><span style="font-size:14px;">{{ book.book_infos|linebreaksbr }}</span></p>
  {% endif %}
  <br />
  <!-- 图书信息 END -->

  <!-- 图书简介 description -->
  {% if book.book_description %}
  <h3><strong>内容简介：</strong></h3>
  <p><span style="font-size:14px;">{{ book.book_description|linebreaksbr }}</span></p>
  {% endif %}
  <br />
  <!-- 图书简介 END -->   

  <!-- 下载链接 -->
  {% if show_downurl %}
  <!-- 网盘 -->
  <h3><strong>下载链接：</strong></h3>
  <div class="visible-xs">
    <br />
    <span class="label label-success" style="font-size:16px;"><strong>重要：</strong>微信内不支持下载电子书文件，点击下载会<b><span style="font-size:24px;">乱码</span></b>，请在浏览器内打开网页即可下载</span>
    <br />
  </div>

  <div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-primary" target="_blank" href={{ pan_url_1.url }}>{{ pan_url_1.name }}</a>
    <a class="btn btn-info" target="_blank" href={{ pan_url_2.url }}>{{ pan_url_2.name }}</a>
    <a class="btn btn-warning" target="_blank" href={{ pan_url_3.url }}>{{ pan_url_3.name }}</a>
  </div>
  <br />

  {% if book.book_pan_pass %}
  <h3><strong>网盘提取码：</strong></h3>
  <div class="alert alert-danger">{{ book.book_pan_pass }}</div>
  {% endif %}
  <!-- 网盘 END -->


  <hr />

  <!-- 网盘失效 报告 折叠效果 -->
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" 
          href="#collapseTwo">
          <font color="red">网盘链接失效或者提取码错误？点我提交管理员</font>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        {% include 'books/search_not_found.html' %}
      </div>
    </div>
  </div>
</div>

<br />


{% else %}
<h3><strong>下载链接：</strong></h3>

<br />
<span class="label label-warning" style="font-size:16px;"><strong>提示：</strong>当前未提交暗号，或暗号错误</span>
<br />
<br />

<!-- 输入 验证码 ”暗号“ -->
<div class="panel panel-info">
  <div class="media"> 

   <div class="media-left media-bottom"> 
    <!-- 大屏设备 -->
    <img class="media-object visible-sm visible-md visible-lg" src="https://www.chenjin5.com/media/qrcode_wechat.jpg" alt="公众号二维码" width=150px />

    <!-- 小屏设备 -->
    <img class="media-object visible-xs" src="https://www.chenjin5.com/media/qrcode_wechat.jpg" alt="公众号二维码" width=110px />
  </div> 

  <div class="media-body"> 
    <br />
    <h4 class="media-heading">防和谐，网盘地址已隐藏，提交暗号即可查看！</h4>
    <br />

    <form action="{{ anhao_post_url }}" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="请输入暗号..." name="anhao" required="required">
        <span class="input-group-btn">
          <button class="btn btn-info" type="submit">提交</button>
        </span>
      </div><!-- /input-group -->
    </form>

    微信扫一扫左侧二维码，关注后<font color="red"><strong>点击</strong>公众号底部菜单 “获取暗号”</font>即可获得！<font color="red">【暗号不定期更换】</font>
  </div> 

</div> <!-- media -->
</div><!-- panel -->


{% endif %}
<!-- 下载链接 END -->

<br />

<br />

    <!--
    <div class="alert alert-warning"><strong>注意：不代找书！</strong></div>
    <div class="alert alert-info"><strong>我也想尽可能地帮助大家，无奈找书太耗时间，一天找2、3本书就要花去近1小时，谢谢理解。</strong></div>
  -->

  <br />

</div>
<!-- 巨幕区域 End -->
