<html lang="zh-CN">

<head>
	<title>{% if page_title %}{{ page_title }} {% else %}沉金书屋-kindle免费电子书网盘资源分享电子书文档搜索{% endif %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="沉金书屋免费分享高清正版kindle电子书网盘资源">
	<meta name="keywords" content="电子书 沉金书屋 书屋 kindle mobi epub azw3 资源 免费 高清">
	<meta name="referrer" content="no-referrer">
	<meta property="og:description" content="免费分享高清正版kindle电子书网盘资源">
	{% load staticfiles %}
	<!-- Bootstrap -->
	<!-- <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"> -->
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<body>
	

	<div class="row">

		<!-- 左侧 区域 -->
		<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
			
		</div>
		<!-- 左侧 区域 END -->


		<!-- 中间 区域 -->
		<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">

			<!-- 顶部 推广信息 -->
			<!-- PC 端 网站 logo -->
			<div class="visible-sm visible-md visible-lg" style="padding-top: 13rem;">
				<a href="{% url 'book_index' %}"><img src="https://www.chenjin5.com/media/logo.png" width="60%" /></a>
			</div>

			<!-- 手机端 网站 logo -->
			<div class="visible-xs" style="padding-top: 13rem;">
				<a href="{% url 'book_index' %}" ><img src="https://s1.ax1x.com/2020/04/24/J0Mcfx.png" width="80%" /></a>
			</div>
			<!-- 顶部 推广信息 END -->


			<!-- 搜索功能 -->
			<form class="" action="{% url 'book_search_navbar' %}" method="get">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for..." name="book_name" required="required">
					<span class="input-group-btn">
						<button class="btn btn-danger" type="submit">搜索</button>
					</span>
				</div><!-- /input-group -->
			</form>
			<!-- 搜索功能 End -->

			<br />

			<!-- 推广信息 1 -->
			<div align="center">
				<p style="font-size: 1.5rem;"><strong>微信：ndfour001 &nbsp | &nbsp 公众号：古德猫宁李 (chenjinshu5)</strong></p>
			</div>
			<!-- 推广信息 1 END -->

			<!-- 推广信息 2 -->
			<!--<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" align="right">
					<p><strong>微信：ndfour001</strong></p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" align="left">
					<p><strong>公众号：好书分享君</strong></p>
				</div>
			</div> -->
			<!-- 推广信息 2 END -->

		</div><!-- /.col-lg-6 -->
		<!-- 中间 区域 END -->



		<!-- 右侧 区域 -->
		<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
			
		</div>
		<!-- 右侧 区域 END -->

	</div><!-- /.row -->


    <!-- 网站访问量统计代码 -->
    <p align="center">
<script type="text/javascript" src="https://s19.cnzz.com/z_stat.php?id=1274275806&web_id=1274275806"></script>
    </p>




</body>


</html>
