<div class="visible-xs visible-sm visible-md visible-lg col-sm-13 col-md-13 col-lg-13">

  <!-- 通知 1-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="{% url 'article_index' %}">通知中心：</a></h4>
    </div>
    <div class="panel-body">
      {% if notifications %}

      {% for n in notifications %}

      <li><label style="word-break:break-word;"><a href="{% url 'article_detail' n.id %}" target="_blank">{{ n.title }}</a></label></li>

      {% endfor %}

      {% else %}

      暂无消息

      {% endif %}
    </div>
  </div>

</div>
