<div class="visible-xs visible-sm visible-md visible-lg col-sm-13 col-md-13 col-lg-13">

  <!-- 通知 1-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title"><a href="{% url 'article_index' %}">通知中心：</a></h4>
    </div>
    <!--<div class="panel-body">-->
        <div class="list-group">
      {% if notifications %}

      {% for n in notifications %}

      {% if n.prior > 1000 %}
      <li class="list-group-item"><a style="color:#FF7F50;" href="{% url 'article_detail' n.id %}" target="_blank">{{ n.title }}</a></li>
      {% else %}
      <li class="list-group-item"><a href="{% url 'article_detail' n.id %}" target="_blank">{{ n.title }}</a></li>
      {% endif %}

      {% endfor %}

      {% else %}

      暂无消息

      {% endif %}
        </div>
    <!--</div> panel-body -->
  </div>

</div>
