<html>

 <head>
         <title>《{{ movie.v_name }}》免费网盘资源分享</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>

 <body class="ke-content">

  <a href="https://mp.weixin.qq.com/s/KaZfTNhmu8AM63QDfVjU2g" ><img src="https://upload-images.jianshu.io/upload_images/5649568-f878eff64c05fb95.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"  width=100% /> </a> <br />

<h3>{{ movie.v_name }}</h3>

  <!-- <p style="text-indent: 2em;"><b><span style="font-size: 16px; color: rgb(100, 69, 29);">电影名称：</span></b> {{ movie.v_name }}</p> -->


  <p style="text-indent: 1em;"><b><img src="{{ movie.v_pic }}" data-ke-src="{{ movie.v_pic }}" alt=""  title="" align="" width=50%  /><br /></b></p>

  <p style="text-indent: 1em;"><b><br /></b></p>
  
  <p style="text-indent: 1em;"><b><span style="font-size: 16px; color: rgb(255, 0, 0);">网盘：</span></b> <a href="{{ movie.v_bdpan }}">百度网盘<a/> </p>

  {% if movie.v_pass %}
  <p style="text-indent: 1em;"><b><span style="font-size: 16px; color: rgb(255, 0, 0);">{{ movie.v_pass }}</span></b> </p>
  {% endif %}

  {% if movie.v_ed2k %}
  <p style="text-indent: 1em;" ><b><span style="font-size: 16px; color: rgb(100, 69, 29);">磁力链接 1：</span></b> </p>

  <p style="text-indent: 2em;"><span style="font-size: 14px; word-wrap: break-word;overflow: hidden;">{{ movie.v_ed2k }}</span></p>
  {% endif %}

  {% if movie.v_magnet %}
  <p style="text-indent: 1em;"><b><span style="font-size: 16px; color: rgb(100, 69, 29);">磁力链接 2：</span></b> </p>

  <p style="text-indent: 2em;"><span style="font-size: 14px; word-wrap: break-word;overflow: hidden;">{{ movie.v_magnet }}</span></p>
  {% endif %}
  <p style="text-indent: 1em;"><b><span style="font-size: 16px;">发布时间：</span></b> {{ movie.v_pub_date }}</p>

  <p style="text-indent: 1em;"><strong><br /></strong></p>

  <p align="center"><b><span style="font-size: 14px; color: blue;">如遇网网盘链接失效等问题请联系管理员修复</span></b> </p>
  <p align="center"><a href="http://tnt1024.com/movie/search/rrrrr">管理员联系方式：</a></p>

  <p align="center">
                                  <!-- 网站访问量统计代码 -->
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274275806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274275806%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                                <!-- 网站访问量统计代码 END -->
  </p>
 </body>
</html>
