<html>
 <head>
     <title>网盘链接失效报告</title>
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <style type="text/css">
        .report_message{
            text-align: center;
        }
     </style>
</head>

<body>
<a href="https://mp.weixin.qq.com/s/KaZfTNhmu8AM63QDfVjU2g" ><img src="https://upload-images.jianshu.io/upload_images/5649568-f878eff64c05fb95.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"  width=100% /> </a> <br />

<p class="report_message">已经将资源网盘链接失效信息报告给管理员，谢谢您的反馈。</p>
<p class="report_message">{{ info }}</p>

<br /> <br />  <hr />

  <!-- 页脚 -->
  <!-- <p align="center"><span style="font-size: 14px; color: blue;">如遇网网盘链接失效等问题请联系管理员修复</span> </p> -->
  <p align="center"><a href="http://tnt1024.com/movie/search/rrrrr">管理员联系方式：</a></p>

  <!-- 网站访问量统计代码 -->
  <p align="center">
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274275806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1274275806%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </p>

 </body>
</html>
