    <h3 style="text-align:center;"><span class="label label-success">{% if page_title %}{{ page_title }}{% else %}最近更新{% endif %}：</span></h3>
    <br />

    {% if movie_list %}
            <div class="row">
            {% for movie in movie_list %}
                <div class="visible-sm visible-md visible-lg col-sm-4 col-md-4 col-lg-3 movie_section">
                    <!-- 电影信息块 -->
                    <div class="thumbnail">
                        {% if movie.v_belong_to == 1 %} <!-- 网盘链接 -->
                            <a href="{% url 'movie_detail' movie.id %}">
                                <img src="{{ movie.v_pic }}" alt="{{ movie.v_name }}高清网盘资源" style="width:90%;height:230px;">
                            </a>
                            <p class="belong_to_title">百度网盘</p>
                            <div class="caption">
                                <p class="media-heading" style="height:3em;"><a href="{% url 'movie_detail' movie.id %}">{{ movie.v_name }}</a></p>
                                <div class="pub_date">
                                    <p>{{ movie.v_pub_date }} &nbsp &nbsp {{ movie.v_views }}Views</p>
                                </div>
                            </div>
                        {% else %} <!-- 在线播放 -->
                            <a href="{% url 'onlineplay_detail' movie.id %}">
                                <img src="{{ movie.v_pic }}" alt="{{ movie.v_name }}高清在线播放资源" style="width:90%;height:230px;">
                            </a>
                            <p class="belong_to_title">在线播放</p>
                            <div class="caption">
                                <p class="media-heading" style="height:3em;"><a href="{% url 'onlineplay_detail' movie.id %}">{{ movie.v_name }}</a></p>
                                <div class="pub_date">
                                    <p>{{ movie.v_pub_date }} &nbsp &nbsp {{ movie.v_views }}Views</p>
                                </div>
                            </div>
                        {% endif %}
                    </div> <!-- 电影信息块 END -->
                </div>

                    <!-- 手机屏幕浏览时展示样式 -->
                    <div class="visible-xs col-xs-12 movie_section">
                        <div class="media">
                            {% if movie.v_belong_to == 1 %}
                                <div class="media-left">
                                    <a href="{% url 'movie_detail' movie.id %}">
                                        <img class="media-object" src="{{ movie.v_pic }}" alt="{{ movie.v_name }}高清网盘资源" height="145" width="100" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url 'movie_detail' movie.id %}">{{ movie.v_name }}</a></h4>
                                    <div class="pub_date">
                                        {{ movie.v_pub_date }} &nbsp &nbsp {{ movie.v_views }}Views
                                        <span>{{ movie.v_text_info | truncatechars:45 }}</span>
                                    </div>
                                </div>
                                <p class="belong_to_title">百度网盘</p>
                            {% else %}
                                <div class="media-left">
                                    <a href="{% url 'onlineplay_detail' movie.id %}">
                                        <img class="media-object" src="{{ movie.v_pic }}" alt="{{ movie.v_name }}高清网盘资源" height="145" width="100" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{% url 'onlineplay_detail' movie.id %}">{{ movie.v_name }}</a></h4>
                                    <div class="pub_date">
                                        {{ movie.v_pub_date }} &nbsp &nbsp {{ movie.v_views }}Views
                                        <span>{{ movie.v_text_info | truncatechars:45 }}</span>
                                    </div>
                                </div>
                                <p class="belong_to_title">在线播放</p>
                            {% endif %}
                        </div>
                    </div> <!-- 手机屏幕浏览时展示样式 END -->

            {% endfor %}
            <!-- 电影列表 End -->
            </div>

    {% else %}
    <p>暂时还没有<b><span>《{{ movie_name }}》</span></b>的网盘资源，请等待管理员更新.</p>
    <div style="background-color:orange;color:white;">
        <p><strong><br />温馨提示：</strong> <br /><br />
        如果使用在线搜索没有搜索到可以试一下网盘搜索哦<br />同理，如果网盘搜索没有搜索到可以切换到在线搜索试一下</p>
        <p><span>管理员微信：ndfour001</span></p>
        <br />
    </div>
    <br />
    <p><b>扫码加管理员微信</b></p>
    <img src="https://upload-images.jianshu.io/upload_images/5649568-5e15ea6578b42c0a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" width=100%>

    {% endif %}
<!-- 最新电影列表 End -->
