<!-- 热搜榜 -->
<br /><br />
    <div class="visible-sm visible-md visible-lg col-sm-12 col-md-12 col-lg-12">
        <h4><span class="label label-info">近期热搜榜</span></h4>
        <div class="list-group">
            {% for resou in resou_movie_list %}
                {% if resou.v_belong_to == 1 %}
                    <a href="{% url 'movie_detail' resou.id %}" class="list-group-item active">
                        <span class="badge"><span class="glyphicon glyphicon-fire" aria-hiden="true" style="color: red;"></span> {{ resou.v_views }}</span>{{ resou.v_name }}</a>
                {% else %}
                    <a href="{% url 'onlineplay_detail' resou.id %}" class="list-group-item active">
                        <span class="badge"><span class="glyphicon glyphicon-fire" aria-hiden="true" style="color: red;"></span> {{ resou.v_views }}</span>{{ resou.v_name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
<!-- 热搜榜 End -->
